<footer>
    <ul class="social-links">
        <li>
            <a href="https://www.facebook.com/atomichorse/" target="_blank" aria-label="Click here to visit our Facebook page">
                <img src="assets/facebook.svg" alt="Facebook icon">
            </a>
        </li>
        <li>
            <a href="" target="_blank" aria-label="Click here to visit our Twitter feed">
                <img src="assets/twitter.svg" alt="Twitter icon">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/atomic-horse/" target="_blank" aria-label="Click here to visit our Linked In page">
                <img src="assets/linked-in.svg" alt="Linked In icon">
            </a>
        </li>
    </ul>

    <p>&copy; 2020 Atomic Horse ltd</p>
</footer>