<footer>
    <ul class="social-links">
        <li>
            <a href="https://www.facebook.com/atomichorse/" target="_blank" rel="noopener" aria-label="Click here to visit our Facebook page">
                <img src="assets/facebook.svg" alt="Facebook icon">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/atomic-horse/" target="_blank" rel="noopener" aria-label="Click here to visit our Linked In page">
                <img src="assets/linked-in.svg" alt="Linked In icon">
            </a>
        </li>
    </ul>

    <p>&copy; 2020 Atomic Horse ltd</p>

    <div class="wiredsussex-logo">
        <img src="https://www.wiredsussex.com/img/membersmall.png" width="200" height="14" border="0" alt="Wired Sussex Logo"/>
    </div>
</footer>