@brand-font: 'BioRhyme', serif;
@standard-font: 'Space Mono', monospace;
@palette-dark: #0F0F0F;
@palette-light: #eeeeee;
@palette-primary: #00E9FF;
@side-padding: 10vw;

@screen-xxs-max: 575px;
@screen-xs-min: @screen-xxs-max + 1;
@screen-xs-max: 768px;
@screen-sm-min: @screen-xs-max + 1;
@screen-sm-max: 991px;
@screen-md-min: @screen-sm-max + 1;
@screen-md-max: 1199px;
@screen-lg-min: @screen-md-max + 1;



* {
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: @standard-font;
    background: @palette-dark;
    color: @palette-light;
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    padding: 100px @side-padding;
    position: relative;
    text-align: left;

    nav {
        display: none;
        @media (min-width: @screen-md-min) {
            display: block;
        }
        position: absolute;
        top: 100px;
        right: @side-padding;
        z-index: 1;
        mix-blend-mode: difference;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        text-transform: uppercase;
        font-family: @standard-font;
        font-size: 2.0rem;

        li {
            margin-right: 4rem;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            color: @palette-primary;
            text-decoration: none;
        }
    }

    button {
        position: absolute;
        top: 100px;
        right: @side-padding;
        width: 70px;
        height: 70px;
        z-index: 1;
        mix-blend-mode: difference;
        border: none;
        outline: none;
        background: transparent;
        color: @palette-primary;
        cursor: pointer;

        svg {
            margin-bottom: 5px;
        }
    }
}

.container {
    padding: 40px @side-padding;
}

.hero {
    background: @palette-primary;
    min-height: 100vh;
    @media (min-width: @screen-xs-min) {
        min-height: 90vh;
    }
    position: relative;
}

.logo {
    text-transform: uppercase;
    color: @palette-dark;
    text-align: right;
    display: inline-block;
    font-size: 7.2rem;
    line-height: 7rem;
    font-family: @brand-font;
    font-weight: bold;
    span {
        display: block;
        font-size: 9.6rem;
        font-family: @standard-font;
        font-weight: normal;
    }
}

.bomb {
    background: url(../assets/bomb.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 140px;
    transform: rotate(-40deg);
    position: absolute;
    top: 170px;
    right: @side-padding;
}

.horse {
    background: url(../assets/horse.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: -4px;
    left: @side-padding * 3;
}

.trees {
    width: 150vw;
    right: -30vw;
    left: -30vw;
    @media (min-width: @screen-xxs-max) {
        width: 130vw;
        right: -15vw;
        left: -15vw;
    }
    @media (min-width: @screen-xs-min) {
        width: 110vw;
        right: -5vw;
        left: -5vw;
    }
    @media (min-width: @screen-sm-min) {
        width: 100vw;
        right: 0vw;
        left: 0vw;
    }

    transition: all 0.2s linear;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &::before {
        content: "";
        display: block;
        background: url(../assets/trees.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 200px;
        height: 219px;
    }

    &::after {
        content: "";
        display: block;
        background: url(../assets/more-trees.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 138px;
        height: 166px;
    }
}

h1, h2 {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 4.8rem;
    font-family: @brand-font;
}

h2 + p {
    font-size: 2.4rem;
}

a {
    color: @palette-primary;
}

footer {
    margin: 40px 0;
    @media (min-width: @screen-xs-min) {
        margin: 75px 0 50px 0;
    }
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
        margin: 0 5px;
    }
}